@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,200&family=Mulish:wght@200;300&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
  margin: 0;
  background-size: cover;
  align-items: center;
  /* justify-content: center; */
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
.countdown-container{
  display: flex;
}
h1{
  font-weight: normal;
  font-size: 4rem;
  margin-top: 5rem;
}
.big-text{
  font-weight: bold;
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}
.countdown-e1{
  text-align: center;
}
.countdown-e1 span{
  font-size: 1.3rem;
}
